/* *{
  margin: 0;
}

body{
  background-color: aquamarine;
}
img{
  display: inline-block;
  width: 400px;
  margin-left: 15px;
}
.Peader{
  font-size: 35px;
  text-align: center;
}
*İLK ALIŞTIRMA* */

/* *{
  margin: 0;
  padding: 0;
}

.header{
  text-align: center;
  font-size: 40px;
}
p{
  font-size: 24px;
  text-align: center;
  margin-top: 30px;

}

.Input{
  width: 400px;
  height: 34px;
  margin-top: 30px;
  
}
CSSLER TAM TAMAMLANMADI */